@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Coda:wght@400;800&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Fresca&family=Happy+Monkey&family=Meow+Script&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Cuprum', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #e2ddcb;
    color: #222;
    overflow-x: hidden;
}

/*Estilos para el headeer y nav*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c40000;
    color: white;
    padding: 16px 24px;
    position: relative;
}

.logo {
    height: 85px;
    /*transform: translate(20px);*/
}

#menu {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    margin-left: 24px;
}

.menu-izquierda,
.menu-derecha {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    color: #121211;
    border-bottom: 5px solid #121211;
    padding-bottom: 4px;
}


.telefono {
    font-weight: bold;
    font-family: "Cuprum";
    font-size: 30px;
    padding-left: 16px;
    margin-left: 16px;
    border-left: 2px solid white;
}

/* Botones */
.reserva,
.ordenar {
    font-family: 'Fresca';
    font-weight: bold;
    font-size: 20px;
    background-color: #fcd200;
    color:#0d0000;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.reserva:hover,
.ordenar:hover {
    color: white;
    background-color: #121211;
}


/* MENÚ HAMBURGUESA */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background: white;
    border-radius: 2px;
    transition: 0.3s ease;
}


/* FOOTER*/
footer {
    font-family: 'Cuprum';
    color: white;
    background-color: #0d0000;
}

/* Parte superior del footer */
.footer-top {
    background-color: #c40000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

.left-top h2 {
    margin: 0;
    font-family: 'Cuprum', monospace;
    font-weight: bold;
    color: white;
}

.left-top p {
    margin: 0;
    font-family: 'Cuprum', monospace;
    font-weight: bold;
    color: white;
}

.right-top {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}

.social-icons {
    display: flex;
    gap: 20px;
    font-size: 30px;
}

/* Parte inferior con columnas */
.footer-bottom {
    font-family: 'Cuprum';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px 20px;
    background-color: #1f1d1d;
    border-bottom: 2px solid white;
}

.footer-column {
    width: 200px;
}

.footer-column h4 {
    display: inline-block;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 8px;
    cursor: pointer;
    color: #ffffff;
}

.footer-copy {
    text-align: center;
    padding: 15px;
    background-color: #0d0000;
    font-size: 14px;
}


/*estilos  para la secion nuestra carta*/
.carta-section {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.carta-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.carta-header h2 {
  font-size: 50px;
  color: #9f1414;
  font-family: 'Meow Script';
}

.ver-mas {
  font-size: 20px;
  text-decoration: none;
  background-color: #d32f2f;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background 0.3s;
}

.ver-mas:hover {
  background-color: #b71c1c;
}

.pdf-container {
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.pdf-viewer {
  width: 100%;
  height: 100%;
  border: none;
}



/*responsividad en el header*/
@media(max-width:768px) {
    .encabezado {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        max-height: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        transition: max-height 0.4s ease-in-out, background-color 0.3s ease;
        background-color: rgb(168, 27, 27);
        /* Por defecto transparente */
    }

    nav.activo {
        display: flex;
        background-color: #b70c0c;
        /*color del menu desplegado*/
        color: white;
        max-height: 500px;
    }

    .menu-izquierda,
    .menu-derecha {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 16px;
        margin-top: 10px;
    }

    .menu-izquierda li,
    .menu-derecha li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menu-derecha button {
        width: 70%;
        max-width: 200px;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 10px;
    }


    .telefono {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

/*responsividad para menu hamburguesa*/

@media(max-width:768px) {

    .menu-toggle {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .menu-toggle span {
        height: 3px;
        width: 25px;
        background: white;
        border-radius: 2px;
        transition: 0.3s ease;
    }


    .menu-toggle {
        display: flex;
        position: absolute;
        top: 25px;
        right: 24px;
        z-index: 1001;
    }

    .menu-toggle.activo span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.activo span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.activo span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

}

/*responsividad para el footer*/

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    }

    .right-top {
        align-items: flex-start;
    }

    .social-icons {
        gap: 10px;
        margin-top: 5px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        padding: 20px;
    }

    .footer-column {
        width: 100%;
    }

    .footer-copy {
        font-size: 12px;
        text-align: center;
        padding: 15px 20px;
    }

}

/*responsividad de nuestracarta*/
/* Responsivo */
@media (max-width: 768px) {
  .carta-header h2 {
    font-size: 20px;
  }

  .ver-mas {
    font-size: 16px;
    padding: 5px 10px;
  }

  .pdf-container {
    aspect-ratio: 3 / 5;
  }
}
