@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Fresca&family=Happy+Monkey&display=swap');



/* estilo de todo*/
* {
    box-sizing: border-box;
}

/*estilo del cuerpo*/
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Cuprum', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fefefe;
    color: #222;
    overflow-x: hidden;
}

/*estilo para el header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c40000;
    color: white;
    padding: 16px 24px;
    position: relative;
}

.logo {
    height: 85px;
}

/* estilo para el menu hamburguesa*/
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background: white;
    border-radius: 2px;
    transition: 0.3s ease;
}

/*estilos del menu/ nav*/
#menu {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    margin-left: 24px;
}


.menu-izquierda,
.menu-derecha {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    color: #121211;
    border-bottom: 5px solid #121211;
    padding-bottom: 4px;
}


.telefono {
    font-weight: bold;
    font-family: "Cuprum";
    font-size: 30px;
    padding-left: 16px;
    margin-left: 16px;
    border-left: 2px solid white;
}

/* estilo para botones de reserva y orden */
.reserva,
.ordenar {
    font-family: 'Fresca';
    font-weight: bold;
    font-size: 20px;
    background-color: #fcd200;
    color: #0d0000;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.reserva:hover,
.ordenar:hover {
    color: white;
    background-color: #121211;
}

/*estilos para el carrusel*/
.carrusel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrusel-contenedor {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: none;
}

.carrusel-img.activa {
    display: block;
}

/*estilos de seccion bienvenida*/

.bienvenida {
    background-color: #fff;
}

.bienvenida-contenedor {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    margin: 0 auto;
    padding: 0 auto;
    flex-direction: row;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.bienvenida-texto {
    width: 50%;
    padding: 80px;
    box-sizing: border-box;
}

.izquierda {
    background-color: #f6eee4;
    text-align: center;
    font-family: 'Happy Monkey';
}

.bienvenida-texto.izquierda h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #111;
}

.bienvenida-texto.izquierda h2 span {
    color: #c00;
    font-weight: bold;
}

.bienvenida-texto.derecha p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    font-family: 'Fresca';
}

.btn-amarillo {
    background-color: #e2c200;
    color: black;
    padding: 12px 25px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    display: inline-block;
}

.btn-amarillo:hover {
    color: white;
    background-color: #b61f11;
}
/* Estilos para locales*/
.locales-section {
    background-color: #f6eee4;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Coda';
}

.locales-header h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.label-local {
    color: red;
}

.locales-header img {
    height: 40px;
}

.locales-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.local {
    max-width: 300px;
    text-align: center;
}

.local h3 {
    font-size: 22px;
    font-weight: bold;
}

.local hr {
    width: 80%;
    border: 1.5px solid black;
    margin: 10px auto 20px;
}

.local p {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.local i {
    font-size: 30px;
    margin-right: 10px;
}

.direccion {
    font-size: 5px;
}

.locales-horario {
    margin-top: 30px;
    font-size: 16px;
}

/* estilos para los comentarios*/
.comentarios {
    font-family: 'Cuprum';
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #f6eee4;
    gap: 30px;
}

.comentarios-info {
    flex: 1 1 300px;
    padding: 20px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.comentarios-info h2 {
    font-size: 2em;
    color: #b20e0e;
}

.comentarios-info p {
    font-size: 1.1em;
    color: #555;
    margin-top: 10px;
}

.comentarios-formulario {
    flex: 1 1 300px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comentarios-formulario label {
    font-weight: bold;
    color: #333;
}

.comentarios-formulario input,
.comentarios-formulario textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
}

.estrellas {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.estrellas input {
    display: none;
}

.estrellas label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.estrellas input:checked~label,
.estrellas label:hover,
.estrellas label:hover~label {
    color: #f39c12;
}

.comentarios-formulario button {
    background-color: #f9c74f;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar {
    width: 200px;
    align-self: flex-start;
    background-color: #f9c74f;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #f39c12;
}

/*estilos para que se muestren los comentarios*/
.comentarios-usuarios {
    margin-top: 60px;
    text-align: center;
    font-family: 'Fresca';
}

.comentarios-usuarios h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #c62808;
}

.comentarios-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.comentarios-container {
    display: flex;
    transition: transform 0.4s ease;
    gap: 20px;
    padding: 20px;
}

.comentario-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    flex-shrink: 0;
    text-align: left;
}

.comentario-card h4 {
    margin: 0;
    color: #333;
}

.comentario-card .estrellas {
    margin: 10px 0;
}

.comentario-card p {
    color: #555;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f9c74f;
    color: white;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.slider-prev {
    left: 10px;
}

.slider-next {
    right: 10px;
}

/* estilos del FOOTER*/
footer {
    font-family: 'Cuprum';
    color: white;
    background-color: #0d0000;
}

/* Parte superior del footer */
.footer-top {
    background-color: #c40000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

.left-top h2 {
    margin: 0;
    font-family: 'Cuprum', monospace;
    font-weight: bold;
    color: white;
}

.left-top p {
    margin: 0;
    font-family: 'Cuprum', monospace;
    font-weight: bold;
    color: white;
}

.right-top {
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(251, 251, 251);
}

.social-icons {
    display: flex;
    color: #fffdfb;
    gap: 20px;
    font-size: 30px;
}

/* Parte inferior con columnas */
.footer-bottom {
    font-family: 'Cuprum';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px 20px;
    background-color: #1f1d1d;
    border-bottom: 2px solid white;
}

.footer-column {
    width: 200px;
}

.footer-column h4 {
    display: inline-block;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 8px;
    cursor: pointer;
    color: #ffffff;
}

.footer-copy {
    text-align: center;
    padding: 15px;
    background-color: #0d0000;
    font-size: 14px;
}


/* Responsividad*/
@media (max-width: 768px) {

    .encabezado,
    .bienvenida,
    .locales-section {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    /*responsividad del menu hamburguesa*/
    .menu-toggle {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .menu-toggle span {
        height: 3px;
        width: 25px;
        background: white;
        border-radius: 2px;
        transition: 0.3s ease;
    }


    .menu-toggle {
        display: flex;
        position: absolute;
        top: 25px;
        right: 24px;
        z-index: 1001;
    }

    #menu.activo {
        display: block;
        position: absolute;
        top: 80%;
        width: 100%;
        background-color: #670f0f;
        text-align: center;
        padding: 30px 0;
        z-index: 1000;
        margin-left: 0;
    }

    .menu-toggle.activo span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.activo span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.activo span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        max-height: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        transition: max-height 0.4s ease-in-out, background-color 0.3s ease;
        background-color: rgb(168, 27, 27);

    }

    nav.activo {
        display: flex;
        color: white;
        max-height: 500px;
    }

    .menu-izquierda,
    .menu-derecha {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 16px;
        margin-top: 10px;
    }

    .menu-izquierda li,
    .menu-derecha li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menu-derecha button {
        width: 70%;
        max-width: 200px;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 10px;
    }


    .telefono {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 10px;
    }


    /*responsividad para banner*/
    .carrusel-img {
        height: 300px;
    }

    /*responsividad para bienvenida*/
    .bienvenida-contenedor {
        flex-direction: column;
    }

    .bienvenida-texto {
        width: 100%;
    }

    .bienvenida-texto.derecha {
        text-align: center;
    }

    /*responsividad para los comentarios*/
    @media (max-width: 768px) {
        .comentarios {
            flex-direction: column;
        }
    }


    /*responsividad para el footer*/
    footer {
        text-align: center;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    }

    .right-top {
        align-items: flex-start;
    }

    .social-icons {
        gap: 10px;
        margin-top: 5px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        padding: 20px;
    }

    .footer-column {
        width: 100%;
    }

    .footer-copy {
        font-size: 12px;
        text-align: center;
        padding: 15px 20px;
    }

}